*egg-info*
data*
results*
doc*
*pycache*
*log*
*synctex*
*aux*
*.bbl
*.blg
*.out
drivers/oneoffs*
*secret*
SANDBOX*
proposal*
*dontinclude*
*brainstorm*
*INQUIRY.txt
paper/cdips_targets_v0.6*
tests/*png
tests/*pdf
*zip
*tar.gz
paper/Bouma_2022_Table3_cdips_targets_v0.6.csv
drivers/vespa_drivers/*/chains*
drivers/vespa_drivers/*/*csv
drivers/vespa_drivers/*/*png
drivers/vespa_drivers/*/*h5
drivers/vespa_drivers/*/*log
paper_proofs*
drivers/vespa_drivers/*/*pkl
drivers/vespa_drivers/*/*cache*
drivers/vespa_drivers/lixo
drivers/vespa_drivers/pull_simpletransit.sh
papers/paper_kep1627/paper/Bouma_2022_Table3_cdips_targets_v0.6.csv
papers/paper_kep1627/paper/cdips_targets_v0.6_nomagcut_gaiasources_table.csv
*temp*
arxiv_cepher/
arxiv_metadata/
