*egg-info*
data*
results*
doc*
*pycache*
*log*
*synctex*
*aux*
*.bbl
*.blg
*.out
drivers/oneoffs*
*secret*
SANDBOX*
proposal*
*dontinclude*
*brainstorm*
*INQUIRY.txt
paper/cdips_targets_v0.6*
tests/*png
tests/*pdf
*zip
